<html>
<head>
<title>Supermercado Tatis</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.css" rel="stylesheet"> 
<script src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
</script>
</head>	
<body>
<!-- header -->
	<div class="agileits_header">
	<div class="agile-login">
		<ul>
        
		<li><a href="/registrar"> Crear Una Cuenta </a></li>
		<li><a href="/login">Iniciar Sesion</a></li>
		</ul>
	</div>
	<div class="product_list_header">  
		<form action="#" method="post" class="last"> 
		<input type="hidden" name="cmd" value="_cart">
		<input type="hidden" name="display" value="1">
	    <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
		</form>  
	</div>
	<div class="clearfix"> </div>
	</div>
	</div>

	<div class="logo_products">
	<div class="container">
	<div class="w3ls_logo_products_left1">
		<ul class="phone_email">
		<li><i class="fa fa-phone" aria-hidden="true"></i>Comunicate al: 3106192173 </li>
		</ul>
	</div>
	<div class="w3ls_logo_products_left">
		<h1><a href="/">Super Tatis</a></h1>
	    </div>
	<div class="clearfix"> </div>
	</div>
	</div>
	<div class="navigation-agileits">
	<div class="container">
	    <nav class="navbar navbar-default">
	<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
		<ul class="nav navbar-nav">
        <li class="active"><a href="/" class="act">Casa</a></li>	
        
    <!-- Mega Menu -->
    
		<li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Comestibles<b class="caret"></b></a>
		<ul class="dropdown-menu multi-column columns-3">
	<div class="row">
    <div class="multi-gd-img">
		<ul class="multi-column-dropdown">

        <h6>Comestibles</h6>
        
		<li><a href="/comes">Pasta y granos</a></li>
		<li><a href="/comes">Verduras y frutas</a></li>
        <li><a href="/comes">Dulces</a></li>
        
        </ul>
        
	</div>	
	</div>
		</ul>
        </li>
        
	    <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Aseo<b class="caret"></b></a>
		<ul class="dropdown-menu multi-column columns-3">
    <div class="row">
	<div class="multi-gd-img">
		<ul class="multi-column-dropdown">
                                                        
        <h6>Aseo</h6>

		<li><a href="/aseo">Cuidado personal</a></li>
		<li><a href="/aseo">Desinfectates y jabones</a></li>
    	<li><a href="/aseo">Cosmeticos</a></li>
        </ul>    
	</div>					
	</div>
		</ul>
        </li>
        
		<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Alimentos envasados<b class="caret"></b></a>
		<ul class="dropdown-menu multi-column columns-3">
	<div class="row">
	<div class="multi-gd-img">
		<ul class="multi-column-dropdown">

        <h6>Alimentos envasados</h6>
        
		<li><a href="/alim">Postres y Lacteos</a></li>
		<li><a href="/alim">Cereales</a></li>
        <li><a href="/alim">Comida enlatada</a></li>
		</ul>
	</div>																			
    </div>
		</ul>
        </li>
        
		<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Bebidas<b class="caret"></b></a>
		<ul class="dropdown-menu multi-column columns-3">
	<div class="row">
	<div class="multi-gd-img">
		<ul class="multi-column-dropdown">

        <h6>Bebidas</h6>
        
		<li><a href="/bebida">Te y cafe</a></li>
        <li><a href="/bebida">Licor</a></li>
		<li><a href="/bebida">Gaseosas</a></li>
		</ul>
	</div>						
	</div>
		</ul>
        </li>
		</ul>
	</div>
	</nav>
	</div>
    </div>
    
    <!-- //navigation -->

	<div class="breadcrumbs">
	<div class="container">
		<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
		<li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>casa</a></li>
		<li class="active">Bebidas</li>
		</ol>
	</div>
    </div>
    <div class="agile_top_brands_grids">
	<div class="col-md-4 top_brand_left">
	<div class="hover14 column">
	<div class="agile_top_brand_left_grid">
	<div class="agile_top_brand_left_grid_pos">
	</div>
	<div class="agile_top_brand_left_grid1">
	    <figure>
	<div class="snipcart-item block">
    <div class="snipcart-thumb">
		<a><img title=" " alt=" " src="images/111.png"></a>		
		<p>Te</p>
		<h4>$2.000</h4>
	</div>
	<div class="snipcart-details top_brand_home_details">
	    <form action="#" method="post">
	    <fieldset>
		<input type="hidden" name="cmd" value="_cart">
		<input type="hidden" name="add" value="1">
		<input type="hidden" name="business" value=" ">
		<input type="hidden" name="amount" value="2.000">
		<input type="hidden" name="return" value=" ">
		<input type="hidden" name="cancel_return" value=" ">
	    <input type="submit" name="submit" value="Agregar a la canasta" class="button">
	    </fieldset>
		</form>
	</div>
	</div>
		</figure>
	</div>
	</div>
	</div>
	</div>
    
    <div class="col-md-4 top_brand_left">
	<div class="hover14 column">
	<div class="agile_top_brand_left_grid">		
	<div class="agile_top_brand_left_grid1">
		<figure>
	<div class="snipcart-item block">
	<div class="snipcart-thumb">
        <a><img title=" " alt=" " src="images/222.jpg"></a>		
		<p>Cafe</p>
		<h4>$800</h4>
	</div>
	<div class="snipcart-details top_brand_home_details">
		<form action="#" method="post">
		<fieldset>
		<input type="hidden" name="cmd" value="_cart">
		<input type="hidden" name="add" value="1">
		<input type="hidden" name="business" value=" ">
	    <input type="hidden" name="amount" value="800">
		<input type="hidden" name="return" value=" ">
		<input type="hidden" name="cancel_return" value=" ">
	    <input type="submit" name="submit" value="Agregar a la canasta" class="button">
        </fieldset>
		</form>
	</div>
	</div>
		</figure>
	</div>
	</div>
	</div>
	</div>
	<div class="col-md-4 top_brand_left">
	<div class="hover14 column">
	<div class="agile_top_brand_left_grid">
	<div class="agile_top_brand_left_grid1">
		<figure>
	<div class="snipcart-item block">
	<div class="snipcart-thumb">
		<a><img src="images/333.png" alt=" " class="img-responsive"></a>
		<p>Cafe Bolsa</p>
	    <h4>$10.000</h4>
	</div>
	<div class="snipcart-details top_brand_home_details">
	    <form action="#" method="post">
		<fieldset>
        <input type="hidden" name="cmd" value="_cart">
		<input type="hidden" name="add" value="1">
		<input type="hidden" name="business" value=" ">
		<input type="hidden" name="amount" value="10.000">
		<input type="hidden" name="return" value=" ">
		<input type="hidden" name="cancel_return" value=" ">
		<input type="submit" name="submit" value="Agregar a la canasta" class="button">
		</fieldset>
		</form>
	</div>
	</div>
		</figure>
	</div>
	</div>
	</div>
	</div>
	<div class="clearfix"> </div>
	</div>
	<div class="agile_top_brands_grids">
	<div class="col-md-4 top_brand_left">
	<div class="hover14 column">
	<div class="agile_top_brand_left_grid">
	<div class="agile_top_brand_left_grid1">
		<figure>
	<div class="snipcart-item block">
	<div class="snipcart-thumb">
		<a><img title=" " alt=" " src="images/444.jpg"></a>		
	    <p>Cerveza Combo</p>
		<h4>$7.000</h4>
	</div>
	<div class="snipcart-details top_brand_home_details">
	    <form action="#" method="post">
		<fieldset>
		<input type="hidden" name="cmd" value="_cart">
		<input type="hidden" name="add" value="1">
		<input type="hidden" name="business" value=" ">
		<input type="hidden" name="amount" value="7.000">
		<input type="hidden" name="return" value=" ">
		<input type="hidden" name="cancel_return" value=" ">
		<input type="submit" name="submit" value="Agregar a la canasta" class="button">
		</fieldset>
		</form>
	</div>
	</div>
		</figure>
	</div>
	</div>
    </div>
	</div>
	<div class="col-md-4 top_brand_left">
    <div class="hover14 column">
	<div class="agile_top_brand_left_grid">
	<div class="agile_top_brand_left_grid1">
		<figure>
	<div class="snipcart-item block">
	<div class="snipcart-thumb">
		<a><img title=" " alt=" " src="images/555.jpg"></a>		
		<p>Aguardiente</p>
		<h4>$18.000</h4>
	</div>
	<div class="snipcart-details top_brand_home_details">
		<form action="#" method="post">
		<fieldset>
		<input type="hidden" name="cmd" value="_cart">
		<input type="hidden" name="add" value="1">
		<input type="hidden" name="business" value=" ">
     	<input type="hidden" name="amount" value="18.000">
		<input type="hidden" name="return" value=" ">
		<input type="hidden" name="cancel_return" value=" ">
		<input type="submit" name="submit" value="Agregar a la canasta" class="button">
		</fieldset>
		</form>
	</div>
	</div>
		</figure>
	</div>
	</div>
	</div>
	</div>
	<div class="col-md-4 top_brand_left">
	<div class="hover14 column">
	<div class="agile_top_brand_left_grid">
	<div class="agile_top_brand_left_grid1">
		<figure>
	<div class="snipcart-item block">
	<div class="snipcart-thumb">
		<a><img src="images/6jpg.jpg" alt=" " class="img-responsive"></a>
	    <p>Smirnoff</p>
		<h4>$5.000</h4>
	</div>
	<div class="snipcart-details top_brand_home_details">
		<form action="#" method="post">
		<fieldset>
		<input type="hidden" name="cmd" value="_cart">
		<input type="hidden" name="add" value="1">
		<input type="hidden" name="business" value=" ">
		<input type="hidden" name="amount" value="5.000">
		<input type="hidden" name="return" value=" ">
		<input type="hidden" name="cancel_return" value=" ">
		<input type="submit" name="submit" value="Agregar a la canasta" class="button">
		</fieldset>
		</form>
	</div>
	</div>
		</figure>
	</div>
    </div>
    </div>
	</div>
	<div class="clearfix"> </div>
	</div>
	<div class="agile_top_brands_grids">
	<div class="col-md-4 top_brand_left">
	<div class="hover14 column">
	<div class="agile_top_brand_left_grid">
	<div class="agile_top_brand_left_grid1">
	    <figure>
	<div class="snipcart-item block">
	<div class="snipcart-thumb">
		<a><img title=" " alt=" " src="images/666.jpg"></a>		
		<p>Pepsi</p>
		<h4>$1.000</h4>
    </div>
	<div class="snipcart-details top_brand_home_details">
		<form action="#" method="post">
		<fieldset>
		<input type="hidden" name="cmd" value="_cart">
		<input type="hidden" name="add" value="1">
		<input type="hidden" name="business" value=" ">
		<input type="hidden" name="amount" value="1.000">
		<input type="hidden" name="return" value=" ">
		<input type="hidden" name="cancel_return" value=" ">
		<input type="submit" name="submit" value="Agregar a la canasta" class="button">
		</fieldset>
		</form>
	</div>
	</div>
	    </figure>
	</div>
	</div>
	</div>
	</div>
	<div class="col-md-4 top_brand_left">
	<div class="hover14 column">
	<div class="agile_top_brand_left_grid">
	<div class="agile_top_brand_left_grid1">
		<figure>
	<div class="snipcart-item block">
	<div class="snipcart-thumb">
		<a><img title=" " alt=" " src="images/777.jpg"></a>		
		<p>Coca-Cola</p>
		<h4>$1.500</h4>
	</div>
	<div class="snipcart-details top_brand_home_details">
		<form action="#" method="post">
		<fieldset>
		<input type="hidden" name="cmd" value="_cart">
	    <input type="hidden" name="add" value="1">
		<input type="hidden" name="business" value=" ">
		<input type="hidden" name="amount" value="1.500">
		<input type="hidden" name="return" value=" ">
		<input type="hidden" name="cancel_return" value=" ">
		<input type="submit" name="submit" value="Agregar a la canasta" class="button">
		</fieldset>
	    </form>
	</div>
	</div>
		</figure>
    </div>
    </div>   
	</div>
	</div>
	<div class="col-md-4 top_brand_left">
	<div class="hover14 column">
	<div class="agile_top_brand_left_grid">
	<div class="agile_top_brand_left_grid1">
		<figure>
	<div class="snipcart-item block">
	<div class="snipcart-thumb">
		<a><img src="images/888.png" alt=" " class="img-responsive"></a>
		<p>Fanta</p>
		<h4>$1.500</h4>
	</div>
	<div class="snipcart-details top_brand_home_details">
		<form action="#" method="post">
		<fieldset>
		<input type="hidden" name="cmd" value="_cart">
		<input type="hidden" name="add" value="1">
		<input type="hidden" name="business" value=" ">
		<input type="hidden" name="amount" value="1.500">
		<input type="hidden" name="return" value=" ">
		<input type="hidden" name="cancel_return" value=" ">
		<input type="submit" name="submit" value="Agregar a la canasta" class="button">
		</fieldset>
		</form>
	</div>
	</div>
		</figure>
	</div>
	</div>
	</div>
	</div>
	<div class="clearfix"> </div>
    </div>
	</div>
	</div>
<!--- Bebida --->
<!-- //footer -->
<div class="footer">
	<div class="container">
	<div class="w3_footer_grids">
	<div class="col-md-3 w3_footer_grid">
		<h3>Contacto</h3>
		<ul class="address">
		<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Cra 50 , 23 C - 05, <span>Neiva - Huila.</span></li>
		<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a>angitaro00@hotmail.com</a></li>
		<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+(57) 3106192173</li>
		</ul>
	</div>
	<div class="col-md-3 w3_footer_grid">
		<h3>Informacion</h3>
		<ul class="info"> 
		<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a>Contactenos</a></li>
		<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a>Productos especiales</a></li>
		<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a>Productos de la mejor calidad</a></li>
		<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a>nacionales e internacionales</a></li>
		</ul>
	</div>
	<div class="col-md-3 w3_footer_grid">
		<h3>Categoria</h3>
		<ul class="info"> 
		<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a>Comestibles</a></li>
		<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a>Aseo</a></li>
		<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a>Alimentos envasados</a></li>
		<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a>Bebidas</a></li>
		</ul>
	</div>
	<div class="col-md-3 w3_footer_grid">
		<h3>Perfil</h3>
		<ul class="info"> 
		<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a>Almacen</a></li>
		<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a>Mi carrito</a></li>
	    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a>Iniciar Sesion</a></li>
		<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a>Crear Cuenta</a></li>
		</ul>
	</div>
	<div class="clearfix"> </div>
	</div>
	</div>
	<div class="footer-copy">	
	<div class="container">
		<p>© 2019 Supermercado Tatis. Derechos reservados | Diseño <a>Lenguaje Programacion</a></p>
	</div>
	</div>
	</div>	
	<script src="js/bootstrap.min.js"></script>
<!-- //footer -->	
</body>
</html>

