<html>
<head>
<title>Supermercado Tatis</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.css" rel="stylesheet"> 
<script src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
</script>
</head>	
<body>
<!-- header -->
	<div class="agileits_header">
	<div class="agile-login">
		<ul>
        
		<li><a href="/registrar"> Crear Una Cuenta </a></li>
		<li><a href="/login">Iniciar Sesion</a></li>
		</ul>
	</div>
	<div class="product_list_header">  
		<form action="#" method="post" class="last"> 
		<input type="hidden" name="cmd" value="_cart">
		<input type="hidden" name="display" value="1">
	    <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
		</form>  
	</div>
	<div class="clearfix"> </div>
	</div>
	</div>

	<div class="logo_products">
	<div class="container">
	<div class="w3ls_logo_products_left1">
		<ul class="phone_email">
		<li><i class="fa fa-phone" aria-hidden="true"></i>Comunicate al: 3106192173 </li>
		</ul>
	</div>
	<div class="w3ls_logo_products_left">
		<h1><a href="/">Super Tatis</a></h1>
	    </div>
	<div class="clearfix"> </div>
	</div>
	</div>
	<div class="navigation-agileits">
	<div class="container">
	    <nav class="navbar navbar-default">
	<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
		<ul class="nav navbar-nav">
        <li class="active"><a href="/" class="act">Casa</a></li>	
        
    <!-- Mega Menu -->
    
		<li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Comestibles<b class="caret"></b></a>
		<ul class="dropdown-menu multi-column columns-3">
	<div class="row">
    <div class="multi-gd-img">
		<ul class="multi-column-dropdown">

        <h6>Comestibles</h6>
        
		<li><a href="/comes">Pasta y granos</a></li>
		<li><a href="/comes">Verduras y frutas</a></li>
        <li><a href="/comes">Dulces</a></li>
        
        </ul>
        
	</div>	
	</div>
		</ul>
        </li>
        
	    <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Aseo<b class="caret"></b></a>
		<ul class="dropdown-menu multi-column columns-3">
    <div class="row">
	<div class="multi-gd-img">
		<ul class="multi-column-dropdown">
                                                        
        <h6>Aseo</h6>

		<li><a href="/aseo">Cuidado personal</a></li>
		<li><a href="/aseo">Desinfectates y jabones</a></li>
    	<li><a href="/aseo">Cosmeticos</a></li>
        </ul>    
	</div>					
	</div>
		</ul>
        </li>
        
		<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Alimentos envasados<b class="caret"></b></a>
		<ul class="dropdown-menu multi-column columns-3">
	<div class="row">
	<div class="multi-gd-img">
		<ul class="multi-column-dropdown">

        <h6>Alimentos envasados</h6>
        
		<li><a href="/alim">Postres y Lacteos</a></li>
		<li><a href="/alim">Cereales</a></li>
        <li><a href="/alim">Comida enlatada</a></li>
		</ul>
	</div>																			
    </div>
		</ul>
        </li>
        
		<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Bebidas<b class="caret"></b></a>
		<ul class="dropdown-menu multi-column columns-3">
	<div class="row">
	<div class="multi-gd-img">
		<ul class="multi-column-dropdown">

        <h6>Bebidas</h6>
        
		<li><a href="/bebida">Te y cafe</a></li>
        <li><a href="/bebida">Licor</a></li>
		<li><a href="/bebida">Gaseosas</a></li>
		</ul>
	</div>						
	</div>
		</ul>
        </li>
		</ul>
	</div>
	</nav>
	</div>
	</div>
		
<!-- Carousel -->
	
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
		
    <div class="carousel-inner" role="listbox">
    <div class="item active">
        <a href="beverages.html"> <img class="first-slide" src="images/b3.jpg" alt="First slide"></a>
       
    </div>
    <div class="item">
        <a href="personalcare.html"> <img class="second-slide " src="images/b13.png" alt="Second slide"></a>
         
    </div>
    <div class="item">
        <a href="household.html"><img class="third-slide " src="images/b1.jpg" alt="Third slide"></a>
          
    </div>
    </div>
	</div>

	
    <!--ofertas-->
    
	<div class="top-brands">
	<div class="container">

        <h2>Ofertas</h2>
        
	<div class="grid_3 grid_5">
	<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
		<ul id="myTab" class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#expeditions" id="expeditions-tab" role="tab" data-toggle="tab" aria-controls="expeditions" aria-expanded="true">Oferta anunciada</a></li>
		<li role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">Oferta de hoy</a></li>
		</ul>
	<div id="myTabContent" class="tab-content">
	<div role="tabpanel" class="tab-pane fade in active" id="expeditions" aria-labelledby="expeditions-tab">
	<div class="agile-tp">
        
        <h5>Ofertas de la semana</h5>

    </div>

	<div class="agile_top_brands_grids">
	<div class="col-md-4 top_brand_left">
	<div class="hover14 column">
	<div class="agile_top_brand_left_grid">
	<div class="agile_top_brand_left_grid_pos">
		<img src="images/offer.png" alt=" " class="img-responsive" />
	</div>
                                            
    <div class="agile_top_brand_left_grid1">
		<figure>
		<div class="snipcart-item block" >
		<div class="snipcart-thumb">
        <a href="products.html"><img title=" "  src="images/1.png" /></a>		
		<p>Cerveza Corona</p>
		<h4>$12.000 <span>$18.000</span></h4>
	</div>
	<div class="snipcart-details top_brand_home_details">
		<form action="#" method="post">
	    <fieldset>
		<input type="hidden" name="cmd" value="_cart" />
      	<input type="hidden" name="add" value="1" />
		<input type="hidden" name="business" value=" " />
		<input type="hidden" name="item_name" value="Fortune Sunflower Oil" />
		<input type="hidden" name="amount" value="12.000" />
		<input type="hidden" name="discount_amount" value="1.00" />
	    <input type="hidden" name="currency_code" value="USD" />
		<input type="hidden" name="return" value=" " />
		<input type="hidden" name="cancel_return" value=" " />
		<input type="submit" name="submit" value="Agregar a la canasta" class="button" />
		</fieldset>
		</form>
	</div>
	</div>
		</figure>
	</div>
	</div>
	</div>
	</div>
	<div class="col-md-4 top_brand_left">
	<div class="hover14 column">
	<div class="agile_top_brand_left_grid">
	<div class="agile_top_brand_left_grid_pos">
		<img src="images/offer.png" alt=" " class="img-responsive" />
	</div>
    <div class="agile_top_brand_left_grid1">
		<figure>
	<div class="snipcart-item block" >
	<div class="snipcart-thumb">
        <a href="products.html"><img title=" " alt=" " src="images/2.png" /></a>		
	    <p>Arroz Diana</p>
		<h4>$1.000 <span>$1.500</span></h4>
	</div>
	<div class="snipcart-details top_brand_home_details">
		<form action="#" method="post">
		<fieldset>
		<input type="hidden" name="cmd" value="_cart" />
		<input type="hidden" name="add" value="1" />
		<input type="hidden" name="business" value=" " />
		<input type="hidden" name="item_name" value="basmati rise" />
     	<input type="hidden" name="amount" value="1.000" />
		<input type="hidden" name="discount_amount" value="1.00" />
		<input type="hidden" name="currency_code" value="USD" />
		<input type="hidden" name="return" value=" " />
	    <input type="hidden" name="cancel_return" value=" " />
	    <input type="submit" name="submit" value="Agregar a la canasta" class="button" />
    	</fieldset>
		</form>
	</div>
	</div>
		</figure>
	</div>
    </div>
	</div>
	</div>
	<div class="col-md-4 top_brand_left">
	<div class="hover14 column">
	<div class="agile_top_brand_left_grid">
	<div class="agile_top_brand_left_grid_pos">
		<img src="images/offer.png" alt=" " class="img-responsive" />
	</div>
	<div class="agile_top_brand_left_grid1">
		<figure>
	<div class="snipcart-item block">
	<div class="snipcart-thumb">
		<a href="products.html"><img src="images/3.png" alt=" " class="img-responsive" /></a>
	    <p>Coca - Cola</p>
		<h4>$2.800 <span>$3.000</span></h4>
	</div>
	<div class="snipcart-details top_brand_home_details">
		<form action="#" method="post">
		<fieldset>
		<input type="hidden" name="cmd" value="_cart" />
		<input type="hidden" name="add" value="1" />
		<input type="hidden" name="business" value=" " />
		<input type="hidden" name="item_name" value="Pepsi soft drink" />
		<input type="hidden" name="amount" value="2.800" />
		<input type="hidden" name="discount_amount" value="1.00" />
		<input type="hidden" name="currency_code" value="USD" />
		<input type="hidden" name="return" value=" " />
		<input type="hidden" name="cancel_return" value=" " />
		<input type="submit" name="submit" value="Agregar a la canasta" class="button" />																
		</fieldset>
		</form>
	</div>
	</div>
		</figure>
	</div>
	</div>
	</div>
	</div>
	<div class="clearfix"> </div>
	</div>
	<div class="agile_top_brands_grids">
	<div class="col-md-4 top_brand_left">
	<div class="hover14 column">
	<div class="agile_top_brand_left_grid">
	<div class="agile_top_brand_left_grid_pos">
		<img src="images/offer.png" alt=" " class="img-responsive" />
	</div>
	<div class="agile_top_brand_left_grid1">
		<figure>
	<div class="snipcart-item block" >
	<div class="snipcart-thumb">
		<a href="products.html"><img title=" " alt=" " src="images/45.jpg" /></a>		
		<p>Dulce de leche</p>
		<h4>$2.500 <span>$3.200</span></h4>
	</div>
    <div class="snipcart-details top_brand_home_details">
		<form action="#" method="post">
		<fieldset>
		<input type="hidden" name="cmd" value="_cart" />
		<input type="hidden" name="add" value="1" />
		<input type="hidden" name="business" value=" " />
		<input type="hidden" name="item_name" value="Fortune Sunflower Oil" />
		<input type="hidden" name="amount" value="2.500" />
		<input type="hidden" name="discount_amount" value="1.00" />
    	<input type="hidden" name="currency_code" value="USD" />
		<input type="hidden" name="return" value=" " />
		<input type="hidden" name="cancel_return" value=" " />
		<input type="submit" name="submit" value="Agregar a la canasta" class="button" />
		</fieldset>
		</form>
	</div>
	</div>
		</figure>
	</div>
	</div>
	</div>
	</div>
	<div class="col-md-4 top_brand_left">
	<div class="hover14 column">
	<div class="agile_top_brand_left_grid">
	<div class="agile_top_brand_left_grid_pos">
		<img src="images/offer.png" alt=" " class="img-responsive" />
	</div>
	<div class="agile_top_brand_left_grid1">
		<figure>
	<div class="snipcart-item block" >
	<div class="snipcart-thumb">
		<a href="products.html"><img title=" " alt=" " src="images/5.jpg" /></a>		
		<p>Aguardiente Antioqueño</p>
		<h4>$18.000 <span>$22.000</span></h4>
	</div>
	<div class="snipcart-details top_brand_home_details">
		<form action="#" method="post">
		<fieldset>
		<input type="hidden" name="cmd" value="_cart" />
		<input type="hidden" name="add" value="1" />
		<input type="hidden" name="business" value=" " />
		<input type="hidden" name="item_name" value="basmati rise" />
		<input type="hidden" name="amount" value="18.000" />
		<input type="hidden" name="discount_amount" value="1.00" />
		<input type="hidden" name="currency_code" value="USD" />
		<input type="hidden" name="return" value=" " />
		<input type="hidden" name="cancel_return" value=" " />
		<input type="submit" name="submit" value="Agregar a la canasta" class="button" />
		</fieldset>
		</form>
	</div>
	</div>
		</figure>
	</div>
	</div>
	</div>
	</div>
	<div class="col-md-4 top_brand_left">
	<div class="hover14 column">
	<div class="agile_top_brand_left_grid">
	<div class="agile_top_brand_left_grid_pos">
		<img src="images/offer.png" alt=" " class="img-responsive" />
	</div>
	<div class="agile_top_brand_left_grid_pos">
		<img src="images/offer.png" alt=" " class="img-responsive" />
	</div>
	<div class="agile_top_brand_left_grid1">
		<figure>
	<div class="snipcart-item block">
	<div class="snipcart-thumb">
		<a href="products.html"><img src="images/6jpg.jpg" alt=" " class="img-responsive" /></a>
		<p>Smirnoff</p>
		<h4>$5.000 <span>$6.000</span></h4>
	</div>
	<div class="snipcart-details top_brand_home_details">
		<form action="#" method="post">
		<fieldset>
		<input type="hidden" name="cmd" value="_cart" />
		<input type="hidden" name="add" value="1" />
		<input type="hidden" name="business" value=" " />
		<input type="hidden" name="item_name" value="Pepsi soft drink" />
		<input type="hidden" name="amount" value="5.000" />
		<input type="hidden" name="discount_amount" value="1.00" />
		<input type="hidden" name="currency_code" value="USD" />
		<input type="hidden" name="return" value=" " />
		<input type="hidden" name="cancel_return" value=" " />
		<input type="submit" name="submit" value="Agregar a la canasta" class="button" />
		</fieldset>
		</form>
	</div>
	</div>
		</figure>
	</div>
	</div>
	</div>
	</div>
	<div class="clearfix"> </div>
	</div>
	</div>
	<div role="tabpanel" class="tab-pane fade" id="tours" aria-labelledby="tours-tab">
    <div class="agile-tp">
	    <h5>Esta semana</h5>
	</div>
	<div class="agile_top_brands_grids">
	<div class="col-md-4 top_brand_left">
	<div class="hover14 column">
	<div class="agile_top_brand_left_grid">
	<div class="agile_top_brand_left_grid_pos">
	    <img src="images/offer.png" alt=" " class="img-responsive" />
	</div>
	<div class="agile_top_brand_left_grid1">
	    <figure>
	<div class="snipcart-item block" >
	<div class="snipcart-thumb">
		<a href="products.html"><img title=" " alt=" " src="images/7.jpg" /></a>		
		<p>Oka Loka</p>
		<h4>$3.000 <span>$4.500</span></h4>
	</div>
	<div class="snipcart-details top_brand_home_details">
		<form action="#" method="post">
		<fieldset>
		<input type="hidden" name="cmd" value="_cart" />
		<input type="hidden" name="add" value="1" />
		<input type="hidden" name="business" value=" " />
		<input type="hidden" name="item_name" value="Fortune Sunflower Oil" />
		<input type="hidden" name="amount" value="3.000" />
		<input type="hidden" name="discount_amount" value="1.00" />
		<input type="hidden" name="currency_code" value="USD" />
		<input type="hidden" name="return" value=" " />
		<input type="hidden" name="cancel_return" value=" " />
		<input type="submit" name="submit" value="Agregar a la canasta" class="button" />
	    </fieldset>
		</form>
	</div>
    </div>
		</figure>
	</div>
	</div>
	</div>
	</div>
	<div class="col-md-4 top_brand_left">
	<div class="hover14 column">
	<div class="agile_top_brand_left_grid">
	<div class="agile_top_brand_left_grid_pos">
		<img src="images/offer.png" alt=" " class="img-responsive" />
	</div>
    <div class="agile_top_brand_left_grid1">
		<figure>
	<div class="snipcart-item block" >
	<div class="snipcart-thumb">
		<a href="products.html"><img title=" " alt=" " src="images/8.jpg" /></a>		
	    <p>Ron viejo de caldas</p>
		<h4>$21.000 <span>$25.000</span></h4>
	</div>
	<div class="snipcart-details top_brand_home_details">
		<form action="#" method="post">
		<fieldset>
		<input type="hidden" name="cmd" value="_cart" />
		<input type="hidden" name="add" value="1" />
		<input type="hidden" name="business" value=" " />
		<input type="hidden" name="item_name" value="basmati rise" />
		<input type="hidden" name="amount" value="18.000" />
		<input type="hidden" name="discount_amount" value="1.00" />
		<input type="hidden" name="currency_code" value="USD" />
	    <input type="hidden" name="return" value=" " />
		<input type="hidden" name="cancel_return" value=" " />
		<input type="submit" name="submit" value="Agregar a la canasta" class="button" />
		</fieldset>
		</form>
	</div>
	</div>
		</figure>
	</div>
	</div>
	</div>
    </div>
	<div class="col-md-4 top_brand_left">
	<div class="hover14 column">
	<div class="agile_top_brand_left_grid">
	<div class="agile_top_brand_left_grid_pos">
		<img src="images/offer.png" alt=" " class="img-responsive" />
	</div>
	<div class="agile_top_brand_left_grid_pos">
	    <img src="images/offer.png" alt=" " class="img-responsive" />
	</div>
    <div class="agile_top_brand_left_grid1">
		<figure>
	<div class="snipcart-item block">
	<div class="snipcart-thumb">
		<a href="products.html"><img src="images/307.jpg" alt=" " class="img-responsive" /></a>
		<p>Fabuloso</p>
		<h4>$1.300 <span>$1.800</span></h4>
	</div>
	<div class="snipcart-details top_brand_home_details">
		<form action="#" method="post">
		<fieldset>
		<input type="hidden" name="cmd" value="_cart" />
		<input type="hidden" name="add" value="1" />
		<input type="hidden" name="business" value=" " />
		<input type="hidden" name="item_name" value="Pepsi soft drink" />
		<input type="hidden" name="amount" value="1.300" />
		<input type="hidden" name="discount_amount" value="1.00" />
		<input type="hidden" name="currency_code" value="USD" />
		<input type="hidden" name="return" value=" " />
		<input type="hidden" name="cancel_return" value=" " />
		<input type="submit" name="submit" value="Agregar a la canasta" class="button" />
		</fieldset>
	    </form>
	</div>
	</div>
		</figure>
	</div>
	</div>
	</div>
	</div>
	<div class="clearfix"> </div>
	</div>
	<div class="agile_top_brands_grids">
	<div class="col-md-4 top_brand_left">
	<div class="hover14 column">
	<div class="agile_top_brand_left_grid">
	<div class="agile_top_brand_left_grid_pos">
		<img src="images/offer.png" alt=" " class="img-responsive" />
	</div>
	<div class="agile_top_brand_left_grid1">
		<figure>
	<div class="snipcart-item block" >
	<div class="snipcart-thumb">
		<a href="products.html"><img title=" " alt=" " src="images/10.png" /></a>		
		<p>Jabon liquido</p>
		<h4>$7.000 <span>$8.500</span></h4>
	</div>
	<div class="snipcart-details top_brand_home_details">
		<form action="#" method="post">
		<fieldset>
		<input type="hidden" name="cmd" value="_cart" />
		<input type="hidden" name="add" value="1" />
		<input type="hidden" name="business" value=" " />
		<input type="hidden" name="item_name" value="Fortune Sunflower Oil" />
		<input type="hidden" name="amount" value="7.000" />
		<input type="hidden" name="discount_amount" value="1.00" />
		<input type="hidden" name="currency_code" value="USD" />
		<input type="hidden" name="return" value=" " />
		<input type="hidden" name="cancel_return" value=" " />
		<input type="submit" name="submit" value="Agregar a la canasta" class="button" />
		</fieldset>
		</form>
	</div>
	</div>
		</figure>
	</div>
	</div>
	</div>
	</div>
	<div class="col-md-4 top_brand_left">
	<div class="hover14 column">
	<div class="agile_top_brand_left_grid">
    <div class="agile_top_brand_left_grid_pos">
		<img src="images/offer.png" alt=" " class="img-responsive" />
	</div>
	<div class="agile_top_brand_left_grid1">
		<figure>
	<div class="snipcart-item block" >
	<div class="snipcart-thumb">
		<a href="products.html"><img title=" " alt=" " src="images/12.png" /></a>		
		<p>Yogurth Nestle</p>
		<h4>$2.000 <span>$3.500</span></h4>
	</div>
	<div class="snipcart-details top_brand_home_details">
		<form action="#" method="post">
		<fieldset>
		<input type="hidden" name="cmd" value="_cart" />
		<input type="hidden" name="add" value="1" />
		<input type="hidden" name="business" value=" " />
	    <input type="hidden" name="item_name" value="basmati rise" />
	    <input type="hidden" name="amount" value="2.000" />
		<input type="hidden" name="discount_amount" value="1.00" />
		<input type="hidden" name="currency_code" value="USD" />
		<input type="hidden" name="return" value=" " />
		<input type="hidden" name="cancel_return" value=" " />
		<input type="submit" name="submit" value="Agregar a la canasta" class="button" />
		</fieldset>
		</form>
	</div>
	</div>
		</figure>
	</div>
	</div>
	</div>
	</div>
	<div class="col-md-4 top_brand_left">
    <div class="hover14 column">
	<div class="agile_top_brand_left_grid">
	<div class="agile_top_brand_left_grid_pos">
		<img src="images/offer.png" alt=" " class="img-responsive" />
	</div>
	<div class="agile_top_brand_left_grid1">
		<figure>
	<div class="snipcart-item block">
	<div class="snipcart-thumb">
		<a href="products.html"><img src="images/13.png" alt=" " class="img-responsive" /></a>
		<p>Pan sandwich</p>
		<h4>$2.000 <span>$2.500</span></h4>
	</div>
	<div class="snipcart-details top_brand_home_details">
		<form action="#" method="post">
		<fieldset>
		<input type="hidden" name="cmd" value="_cart" />
		<input type="hidden" name="add" value="1" />
		<input type="hidden" name="business" value=" " />
		<input type="hidden" name="item_name" value="Pepsi soft drink" />
		<input type="hidden" name="amount" value="2.000" />
		<input type="hidden" name="discount_amount" value="1.00" />
		<input type="hidden" name="currency_code" value="USD" />
		<input type="hidden" name="return" value=" " />
		<input type="hidden" name="cancel_return" value=" " />
		<input type="submit" name="submit" value="Agregar a la canasta" class="button" />
		</fieldset>
		</form>
	</div>
	</div>
		</figure>
	</div>
	</div>
	</div>
	</div>
	<div class="clearfix"> </div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>

<!--banner-bottom-->
				
    <div class="ban-bottom-w3l">
	<div class="container">
	<div class="col-md-6 ban-bottom3">
	<div class="ban-top">
		<img src="images/b14.jpg" class="img-responsive" alt=""/>							
	</div>
	<div class="ban-img">
	<div class=" ban-bottom1">
	<div class="ban-top">
		<img src="images/b13.jpg" class="img-responsive" alt=""/>				
	</div>
	</div>
	<div class="ban-bottom2">
	<div class="ban-top">
		<img src="images/b15.jpg" class="img-responsive" alt=""/>
	</div>
    </div>
	<div class="clearfix"></div>
	</div>
	</div>
	<div class="col-md-6 ban-bottom">
	<div class="ban-top">
	    <img src="images/111.jpg" class="img-responsive" alt=""/>
	</div>
	</div>					
	<div class="clearfix"></div>
	</div>
	</div>


<!-- //footer -->
    <div class="footer">
	<div class="container">
	<div class="w3_footer_grids">
	<div class="col-md-3 w3_footer_grid">
		<h3>Contacto</h3>
		<ul class="address">
		<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Cra 50 , 23 C - 05, <span>Neiva - Huila.</span></li>
		<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a>angitaro00@hotmail.com</a></li>
		<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+(57) 3106192173</li>
		</ul>
	</div>
	<div class="col-md-3 w3_footer_grid">
		<h3>Informacion</h3>
		<ul class="info"> 
		<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a>Contactenos</a></li>
		<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a>Productos especiales</a></li>
		<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a>Productos de la mejor calidad</a></li>
		<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a>nacionales e internacionales</a></li>
		</ul>
	</div>
	<div class="col-md-3 w3_footer_grid">
		<h3>Categoria</h3>
		<ul class="info"> 
		<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a>Comestibles</a></li>
		<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a>Aseo</a></li>
		<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a>Alimentos envasados</a></li>
		<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a>Bebidas</a></li>
		</ul>
	</div>
	<div class="col-md-3 w3_footer_grid">
		<h3>Perfil</h3>
		<ul class="info"> 
		<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a>Almacen</a></li>
		<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a>Mi carrito</a></li>
	    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a>Iniciar Sesion</a></li>
		<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a>Crear Cuenta</a></li>
		</ul>
	</div>
	<div class="clearfix"> </div>
	</div>
	</div>
	<div class="footer-copy">	
	<div class="container">
		<p>© 2019 Supermercado Tatis. Derechos reservados | Diseño <a>Lenguaje Programacion</a></p>
	</div>
	</div>
	</div>	
	<script src="js/bootstrap.min.js"></script>
<!-- //footer -->	
</body>
</html>
